= render 'shared/side_bar'
.chat-main
  .chat-main__header
    .chat-main__header--group.clearfix
      .chat-main__header--group-name
        = @group.name
      = link_to edit_group_path(@group), class: 'chat-main__header--group-edit-btn' do
        edit
    .chat-main__header-members
      MEMBER:
      %i
        = @group.users.pluck(:name).join(' ')
  .chat-main__body
    .chat-main__body--messages-list
      = render @messages
  .chat-main__footer
    %form.chat-main__footer-form
      .chat-main__footer-body
        %input.message{type: 'text', placeholder: 'type a message'}
        %label.chat-file
          %input.image{type: 'file'}
          %i.fa.fa-image
      %input.submit{type: 'sibmit', value: 'Send'}
